@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  .ant-input, .ant-input-affix-wrapper {
    background-color: #222;
    color: #fff; 
    border: 1px solid #555; 
  }


}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}



/* Ajuste de errores en formularios */
.ant-form-item-explain-error {
  color: #ff4d4f;
}
